{% extends "_base.html" %}
{% load static %}

{% block content_title %}
Registro
{% endblock content_title %}

{% block content %}
    
    <section class="w-full max-w-lg mx-auto pt-2">

        <div class="flex flex-col items-center justify-center pt-8 pb-4 mx-auto md:h-screen">              
            
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

                <div class="p-2 space-y-4 md:space-y-6 sm:p-6">
                    {% if request.GET.register == 'register_valid' %}

                    <div id="toast-success" class="flex items-center mx-auto w-full max-w-xs p-4 mb-4 text-white bg-blue-600 rounded-lg shadow dark:text-white dark:bg-blue-800" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Check icon</span>
                        </div>
                        <div class="ml-3 text-sm font-normal">Estarás al tanto de nuestras novedades y te informaremos cuando la aplicación esté disponible.</div>
                        <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                            <span class="sr-only">Close</span>
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                    {% endif %}
                    
                    <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">                                                
                        ¡Únete a la comunidad de Puente Laboral!  
                        Regístrate y mantente informado                      
                    </h1>
                    

                    <form class="space-y-4 md:space-y-6" method="POST" action="{% url "post:register" %}">
                        {% csrf_token %}
                        
                
                        <div>
                            <label 
                                for="first_name" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                
                                Nombres*
                                {% if form.first_name.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.first_name.errors}}</span>
                                {%endif%}
                            </label>
                            {{form.first_name}}
                        </div>
                        <div>
                            <label 
                                for="last_name" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                
                                Apellidos*
                                {% if form.last_name.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.last_name.errors}}</span>
                                {%endif%}
                            </label>
                            {{form.last_name}}
                        </div>
                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-2 group">
                                <label 
                                    for="document_type" 
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    
                                    Tipo de Docuemnto*
                                    {% if form.document_type.errors %}                                    
                                        <span class='text-red-600 text-xs'>{{form.document_type.errors}}</span>
                                    {%endif%}
                                </label>
                                {{form.document_type}}
                            </div>
                            <div class="relative z-0 w-full group">
                                <label 
                                    for="document_number" 
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    
                                    Numero de Docuemnto*
                                    {% if form.document_number.errors %}                                    
                                        <span class='text-red-600 text-xs'>{{form.document_number.errors}}</span>
                                    {%endif%}
                                </label>
                                {{form.document_number}}
                            </div>
                        </div>
                        <div>
                            <label 
                                for="email" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                
                                Correo*
                                {% if form.email.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.email.errors}}</span>
                                {%endif%}
                            </label>
                            {{form.email}}
                        </div>
                        <div>
                            <label 
                                for="phone_number" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                
                                Numero de telefono*
                                {% if form.phone_number.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.phone_number.errors}}</span>
                                {%endif%}
                            </label>
                            {{form.phone_number}}
                        </div>
                        
                        <div class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-2 group">
                                <label 
                                    for="city" 
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    
                                    Ciudad*
                                    {% if form.city.errors %}                                    
                                        <span class='text-red-600 text-xs'>{{form.city.errors}}</span>
                                    {%endif%}
                                </label>
                                {{form.city}}
                            </div>
                            
                            <div class="relative z-0 w-full group">
                                <label 
                                    for="neighborhood" 
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    
                                    Barrio*
                                    {% if form.first_name.errors %}                                    
                                        <span class='text-red-600 text-xs'>{{form.neighborhood.errors}}</span>
                                    {%endif%}

                                </label>
                                {{form.neighborhood}}
                            </div>
                        </div>
                        <div>
                            <label 
                                for="address" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                
                                Dirección*
                                {% if form.address.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.address.errors}}</span>
                                {%endif%}
                            </label>
                            {{form.address}}
                        </div>
                        <div>
                            <label 
                                for="occupation" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                
                                Que Ofreces*
                                {% if form.first_name.errors %}                                    
                                    <span class='text-red-600 text-xs'>{{form.occupation.errors}}</span>
                                {%endif%}

                            </label>
                            {{form.occupation}}
                        </div>
                        <div class="flex items-start mb-2">
                            <div class="flex items-center h-5">
                            <input name="is_valid" id="terms" type="checkbox" class="w-4 h-4 border border-gray-600 rounded bg-gray-50 focus:ring-3 focus:ring-green-400 " required>
                            </div>
                            <label for="terms" class="ml-2 text-xs font-medium text-gray-900 dark:text-white">
                                *Al registrarte, aceptas que tus datos sean tratados según la <a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=49981" target="_bank" class="text-blue-600 hover:underline"> ley 1581 de 2012</a></label>
                        </div>

                        <div class="grid md:grid-cols-2 md:gap-6">

                            <button 
                                type="submit" 
                                class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-ring-blue-300">
                                Registrar
                            </button>
                            <a 
                                href="{% url 'post:home' %}" 
                                class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-ring-red-300">
                                Cancelar
                            </a>
                        </div>
                        
                    </form>
                    
                </div>
                
            </div>
        </div>

    </section>

{% endblock content %}