{% extends "_base.html" %}

{% block content %}

<div class="p-2">  
    
    <div class="max-w-2xl p-4 my-2 mx-auto bg-white dark:bg-gray-800 rounded shadow-lg">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white text-center">Actualizar Perfil </h2>

        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id_profile" value="{{ request.user.profileuser.id }}" />
            
            <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">               

                <div class="w-full">
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Usuario</label>
                    {% if username_errors %}                                    
                    <span class='text-red-600 text-xs'>{{username_errors}}</span>
                    {%endif%}
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{object.user.username}}" placeholder="Product brand" required="">
                </div>
                <div class="w-full">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
                    {% if email_errors %}                                    
                    <span class='text-red-600 text-xs'>{{email_errors}}</span>
                    {%endif%}
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{object.user.email}}" placeholder="Product brand" required="">
                </div>

                <div class="w-full">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{object.user.first_name}}" placeholder="Product brand" required="">
                </div>

                <div class="w-full">
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                    <input type="text" name="last_name" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{object.user.last_name}}" placeholder="Product brand" required="">
                </div>

                <div class="sm:col-span-2">
                    <label for="document_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.document_type.label}}</label>
                    {% if form.document_type.errors %}                                    
                    <span class='text-red-600 text-xs'>{{form.document_type.errors}}</span>
                    {%endif%}
                    {{form.document_type}}
                </div>

                <div class="sm:col-span-2">
                    <label for="document_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.document_number.label}}</label>
                    {% if form.document_number.errors %}                                    
                    <span class='text-red-600 text-xs'>{{form.document_number.errors}}</span>
                    {%endif%}
                    {{form.document_number}}
                </div>
                
                <div class="w-full">
                    <label for="picture" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.picture.label}}
                        {% if form.picture.errors %}                                    
                        <span class='text-red-600 text-xs'>{{form.picture.errors}}</span>
                        {%endif%}
                    </label>
                    {{form.picture}}
                </div>               

                <div class="w-full">                    
                    <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.phone_number.label}}</label>
                    {% if form.phone_number.errors %}                                    
                    <span class='text-red-600 text-xs'>{{form.phone_number.errors}}</span>
                    {%endif%}
                    {{form.phone_number}}
                </div>

                <div class="sm:col-span-2">
                    <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.address.label}}</label>
                    {% if form.address.errors %}                                    
                    <span class='text-red-600 text-xs'>{{form.address.errors}}</span>
                    {%endif%}
                    {{form.address}}
                </div>

                <div class="sm:col-span-2">
                    <label for="website" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.website.label}}
                        {% if form.website.errors %}                                    
                        <span class='text-red-600 text-xs'>{{form.website.errors}}</span>
                        {%endif%}
                    </label>
                    {{form.website}}
                </div>
            </div>

            <div class="sm:col-span-2 pb-4">
                <label for="biography" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{form.biography.label}}
                    {% if form.biography.errors %}                                    
                        <span class='text-red-600 text-xs'>{{form.biography.errors}}</span>
                    {%endif%}
                </label>
                {{form.biography}}
            </div>         

            <div class="flex items-center space-x-4 justify-center">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Actualizar
                </button>
                <a href="{% url 'posts:home_login_posts' %}" class="text-red-600 inline-flex items-center hover:text-red-700 border border-red-700 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    Cancelar
                <a>
            </div>
        </form>

    </div>
</div>

<div id="info-popup" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
            <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                <h3 class="mb-3 text-center text-2xl font-bold text-gray-900 dark:text-white">
                    Tu perfil ha sido actualizado.
                </h3>
            </div>
            <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                <div class="items-center mx-auto space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                    <button id="close-modal" type="button" class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

    <script type="application/javascript">
        const pl = "{{request.GET.update}}";
        if(pl == 'valid'){
            const modalEl = document.getElementById('info-popup');
            const privacyModal = new Modal(modalEl, {
                placement: 'center'
            });
            privacyModal.show();
            const closeModalEl = document.getElementById('close-modal');
            closeModalEl.addEventListener('click', function() {
                privacyModal.hide();
            });  
        }            
    </script>

{% endblock javascript %}


